body {
	width: 100%;
	height: 100vh;
	background-color: #f0f0f0 !important;
}

nav {
	background-color: #fff !important;
	box-shadow: 0px -2px 5px grey;
	z-index: 1000;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 10px;
	margin: 0px 2px;
}

.nav-item:hover {
	background-color: #f0f0f0 !important;
}

.nav-link {
	color: black;
	font-weight: bold;
}

.active .nav-link {
	color: #c5299b !important;
}

.btn {
	color: #fff !important;
	border: 0px !important;
	border-color: #c5299b !important;
	background-color: #c5299b !important;
	transition: all 0.4s !important;
}

.btn:hover {
  background: #c5299b radial-gradient(circle, transparent 1%, #c059a4 1%) center/15000% !important;
}

.btn:active {
  background-color: #c5299b !important;
  background-size: 100% !important;
  transition: all 0s !important;
}

.btn:active:focus {
	box-shadow: 0 0 0 0 black !important;
}

.btn:focus {
	box-shadow: 0 0 0 0 black !important;
}

.input-group input{
	background-color: #f0f0f0;
	border: 0px !important;
}

.input-group input:focus{
	box-shadow: 0 0 0 0 black;
	background-color: #f0f0f0;
	border: 0px !important
}

.input-group input:first-child {
	border-radius: 20px 0px 0px 20px;
}

.input-group button:last-child {
	border-radius: 0px 20px 20px 0px;
}

.column {
	padding: 5px !important ;
}

.card {
	border-radius: 10px !important;
	transition: all 0.2s !important;
	border: 0px !important;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) !important;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2) !important;
}

.card-btn-container {
	padding: 5px;
	background-color: #f0f0f0;
	position: absolute;
	border-radius: 35px;
	display: flex;
	flex-direction: row;
	top: 5px;
	right: 45px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
}

.container-active {
	visibility: visible !important;
	opacity: 100 !important;
	width: fit-content;
}

.card-btn-container .btn {
	width: 30px;
	height: 30px;
	border-radius: 50% !important;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 3px
}

.card-btn-container .btn:first-child {
	margin-left: 0px;
}

.card-btn-container .btn:last-child {
	margin-right: 0px;
}


.card-title {
	color: black;
}

.card-body {
	padding: 10px !important;
}

.menu-btn {
	width: 35px;
	height: 35px;
	margin: 7.5px;
	background: white !important;
	border: 0px !important;
	border-radius: 50% !important;
	color: #a5a5a5 !important;
	position: absolute;
	right: 0px;
	top: 0px;
}

.menu-btn:hover {
	color: #fff !important;
}

.card-text {
	background-color: #f0f0f0 !important;
	padding: 10px;
	border-radius: 5px;
}

.marker {
	border-radius: 16px;
	background-color: #c5299b;
	padding: 0px 5px;
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 10px;
	font-size: 16px;
}

.floating-btn {
	width: 40px;
	height: 40px;
	position: fixed;
	border-radius: 50% !important;
	bottom: 20px;
	right: 20px;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	color: white;
}

.add-form-bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #80808080;
	z-index: 1000;
	top: 0px;
	left: 0px;
}

.ctn {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: auto;
	background-color: white;
	border-radius: 10px;
	padding: 15px;
}

.ctn label {
	font-weight: bold;
}

.ctn {
	position: relative;
}

.add-form-bg .btn-close {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 30px;
	height: 30px;
	display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px){
	.navbar-expand-sm .navbar-nav {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
	}
	.active .indicator {
		position: absolute;
		width: 40px;
		height: 4px;
		background-color: #c5299b;
		border-radius: 2px;
	}
	.nav-item {
		width: 80px;
	}
}

@media (max-width: 992px){
	.form-control {
		width: 100px !important;
	}
}