<table id="definition" border="0">
    <tr id="pa">
        <td id="I_C">
            <font color="#9e9e9e"> ◘ </font>
        </td>
        <td id="C_C" colspan="3">
            <font color="#9e9e9e"> [pi 'destriən]</font>
        </td>
    </tr>
    <tr id="tl">
        <td id="I_C">
            <font color="#1a76bf">*</font>
        </td>
        <td id="C_C" colspan="3"><b>
                <font color="#1a76bf">tính từ</font>
            </b></td>
    </tr>
    <tr id="mn">
        <td> </td>
        <td id="I_C">
            <font color="#999">■</font>
        </td>
        <td id="C_C" colspan="2">thuộc hoặc dành cho người đi bộ</td>
    </tr>
    <tr id="mh">
        <td colspan="2"> </td>
        <td id="I_C">
            <font color="#1371BB">⁃</font>
        </td>
        <td id="C_C">
            <font color="#1371BB">A pedestrian walkway</font>
        </td>
    </tr>
    <tr id="mh_n">
        <td colspan="3"> </td>
        <td id="C_C">
            <font color="#7E7E7E">Một lối đi dành cho người đi bộ </font>
        </td>
    </tr>
    <tr id="mn">
        <td> </td>
        <td id="I_C">
            <font color="#999">■</font>
        </td>
        <td id="C_C" colspan="2">chán ngắt; tẻ nhạt; không lý thú gì</td>
    </tr>
    <tr id="mh">
        <td colspan="2"> </td>
        <td id="I_C">
            <font color="#1371BB">⁃</font>
        </td>
        <td id="C_C">
            <font color="#1371BB">Life in the suburbs can be pretty pedestrian</font>
        </td>
    </tr>
    <tr id="mh_n">
        <td colspan="3"> </td>
        <td id="C_C">
            <font color="#7E7E7E">Cuộc sống ở ngoại ô khá tẻ nhạt </font>
        </td>
    </tr>
    <tr id="tl">
        <td id="I_C">
            <font color="#1a76bf">*</font>
        </td>
        <td id="C_C" colspan="3"><b>
                <font color="#1a76bf">danh từ</font>
            </b></td>
    </tr>
    <tr id="mn">
        <td> </td>
        <td id="I_C">
            <font color="#999">■</font>
        </td>
        <td id="C_C" colspan="2">người đi bộ; khách bộ hành</td>
    </tr>
    <tr id="mh">
        <td colspan="2"> </td>
        <td id="I_C">
            <font color="#1371BB">⁃</font>
        </td>
        <td id="C_C">
            <font color="#1371BB">Two pedestrians and a cyclist were injured when the car skidded</font>
        </td>
    </tr>
    <tr id="mh_n">
        <td colspan="3"> </td>
        <td id="C_C">
            <font color="#7E7E7E">Hai người đi bộ và một người đi xe đạp đã bị thương khi chiếc xe hơi trượt bánh</font>
        </td>
    </tr>
    <tr id="mn">
        <td> </td>
        <td id="I_C">
            <font color="#999">■</font>
        </td>
        <td id="C_C" colspan="2">(thể dục,thể thao) vận động viên (môn) đi bộ</td>
    </tr>
</table>